<!DOCTYPE html>
<html>
  <head>
    <title>Star Wars</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>
  <body> 
        <div class="col-md-10 col-md-offset-10">
            <h5>Search a term</h5> 
            <form action="/" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.term(class="form-control", placeholder="eg.: Naboo") }}
                    </div>

                    <div class="form-group">
                        {% for subfield in form.type_search %}
                            <tr>
                                <td>{{ subfield }}</td>
                                <td>{{ subfield.label }}</td>
                            </tr>
                        {% endfor %}
                    </div>

                    {% if form.errors.term or form.errors.type_search %}
                        <div class="alert alert-danger" role="alert">
                            Please, fill out the fields
                        </div>
                    {% endif %}
                    

                    <button class="btn btn-dark" type="submit" name="action">may the search be with you
                        <i class="fas fa-search"></i>
                    </button>

                    
            </form>
        </div>
    </body>
</html>