<!DOCTYPE html>
<html>
  <head>
    <title>Star Wars</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>
    {{ form }}

      <!-- <form action="/" method="POST">
        <h5>Search a term</h5>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">local_movies</i>
                <input type="text" name="termo" required>
            </div>
        </div>

        <div class="row">

            <label>
                <input class="with-gap" name="type_search" type="radio" value="planets" checked />
                <span>Planets</span>
            </label>
          
            <label>
                <input class="with-gap" name="type_search" type="radio" value="spaceships" />
                <span>Spaceships</span>
            </label>
         
            <label>
                <input class="with-gap" name="type_search" type="radio" value="vehicles" />
                <span>Vehicles</span>
            </label>
         
            <label>
                <input class="with-gap" name="type_search" type="radio" value="people" />
                <span>People</span>
            </label>

            <label>
                <input class="with-gap" name="type_search" type="radio" value="films" />
                <span>Films</span>
            </label>

            <label>
                <input class="with-gap" name="type_search" type="radio" value="species" />
                <span>Species</span>
            </label>
          
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Search
          <i class="material-icons right">search</i>
        </button>
      </form> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>